nodejson-example.json
{
  "id": "NMZACXaPHfaGCdOQgM0az",
  "meta": {
    "instanceId": "240375980b7ab63d9de19d655a1845019092baf2484e8281fd30fa00f9e47f43",
    "templateId": "2187",
    "templateCredsSetupCompleted": true
  },
  "name": "Write a WordPress post with AI (starting from a few keywords)",
  "tags": [],
  "nodes": [
    {
      "id": "8eaf0925-1394-4771-bf43-281ad14fefb4",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1312,
        240
      ],
      "parameters": {
        "color": 4,
        "width": 301,
        "height": 372,
        "content": "## Data check"
      },
      "typeVersion": 1
    },
    {
      "id": "ab31ac7c-6bd4-44f6-8c0c-8e41463a3983",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1328,
        304
      ],
      "parameters": {
        "color": 7,
        "width": 272.8190508599808,
        "height": 80,
        "content": "Checks that the data returned by OpenAI is correct"
      },
      "typeVersion": 1
    },
    {
      "id": "306ffdb5-d6b6-4e49-a26d-a256e32f7c67",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2720,
        240
      ],
      "parameters": {
        "color": 5,
        "width": 302,
        "height": 392,
        "content": "## Draft on WordPress"
      },
      "typeVersion": 1
    },
    {
      "id": "928da5f9-194c-461d-a5dd-7fd5c8563345",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2736,
        320
      ],
      "parameters": {
        "color": 7,
        "width": 254.7726922137309,
        "height": 80,
        "content": "The article is posted as a draft on WordPress"
      },
      "typeVersion": 1
    },
    {
      "id": "271f6b4d-cf7c-49b8-9479-dd753d7c5199",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3040,
        240
      ],
      "parameters": {
        "color": 3,
        "width": 854,
        "height": 389,
        "content": "## Featured image"
      },
      "typeVersion": 1
    },
    {
      "id": "efb047c4-b835-4706-af6a-b40c6cd76757",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3056,
        320
      ],
      "parameters": {
        "color": 7,
        "width": 822,
        "height": 80,
        "content": "The image is generated with Dall-E, uploaded to WordPress, and then connected to the post as its featured image"
      },
      "typeVersion": 1
    },
    {
      "id": "4f78eb2c-a501-4774-b5ab-29d7aa83817d",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        304
      ],
      "parameters": {
        "color": 7,
        "width": 287.370178643191,
        "height": 80,
        "content": "Starting from the given keywords, generates the article title, subtitle, chapters, and image prompt"
      },
      "typeVersion": 1
    },
    {
      "id": "536d265a-1c0b-4262-adab-96edd5924530",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        912,
        240
      ],
      "parameters": {
        "color": 6,
        "width": 360,
        "height": 371,
        "content": "## Article structure"
      },
      "typeVersion": 1
    },
    {
      "id": "8b4b7cf6-4809-44e7-af9a-c72919981698",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "parameters": {
        "color": 7,
        "width": 239.9734329357769,
        "height": 370.512611879577,
        "content": "## User form"
      },
      "typeVersion": 1
    },
    {
      "id": "734b8ac2-2148-4d56-ab04-84f12991cf44",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        304
      ],
      "parameters": {
        "color": 7,
        "width": 199.7721486302032,
        "height": 80,
        "content": "The user triggers the post creation"
      },
      "typeVersion": 1
    },
    {
      "id": "c54f91a7-ac3d-4029-a19f-3fa3794d581a",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3920,
        240
      ],
      "parameters": {
        "color": 7,
        "width": 220,
        "height": 391,
        "content": "## User feedback"
      },
      "typeVersion": 1
    },
    {
      "id": "509e89e7-8916-4228-91ae-baae25a75be7",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3952,
        320
      ],
      "parameters": {
        "color": 7,
        "width": 183.3812555406006,
        "height": 80,
        "content": "Final confirmation to the user"
      },
      "typeVersion": 1
    },
    {
      "id": "5c6e90c4-9714-43db-a82c-54fcbf43a26c",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1648,
        640
      ],
      "parameters": {
        "color": 7,
        "width": 281.2716777103785,
        "height": 288.4116890365125,
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nUser is notified to try again since some data is missing"
      },
      "typeVersion": 1
    },
    {
      "id": "54e10057-b300-475b-8280-cb761acc303a",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        896,
        640
      ],
      "parameters": {
        "color": 7,
        "width": 356,
        "height": 275,
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nWikipedia is used to write the article"
      },
      "typeVersion": 1
    },
    {
      "id": "5f5b9ad9-1da5-4321-b6b4-e1985ff257ca",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        656,
        240
      ],
      "parameters": {
        "color": 2,
        "width": 226.7161524349502,
        "height": 370.512611879577,
        "content": "## Settings"
      },
      "typeVersion": 1
    },
    {
      "id": "6e298414-634f-45fb-b931-2abcae9c6db1",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        672,
        304
      ],
      "parameters": {
        "color": 7,
        "width": 179.3763324750853,
        "height": 80,
        "content": "Set the URL of your WordPress here"
      },
      "typeVersion": 1
    },
    {
      "id": "94b09f31-31aa-4284-936e-c37fb3088acc",
      "name": "Sticky Note16",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1648,
        240
      ],
      "parameters": {
        "color": 2,
        "width": 225.4703897230858,
        "height": 370.512611879577,
        "content": "## Chapters split"
      },
      "typeVersion": 1
    },
    {
      "id": "633cba39-ec92-410c-b010-083048487b2b",
      "name": "Sticky Note17",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1680,
        304
      ],
      "parameters": {
        "color": 7,
        "width": 185.6051460344073,
        "height": 80,
        "content": "Splits out chapter contents from the previous node"
      },
      "typeVersion": 1
    },
    {
      "id": "4c9fd35f-d69d-4ced-a759-175336f43c8a",
      "name": "Sticky Note18",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1936,
        304
      ],
      "parameters": {
        "color": 7,
        "width": 287.370178643191,
        "height": 80,
        "content": "Writes the text for each chapter"
      },
      "typeVersion": 1
    },
    {
      "id": "0d751d84-117a-4bf4-a9a7-d5ad1b557fec",
      "name": "Sticky Note19",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1920,
        240
      ],
      "parameters": {
        "color": 6,
        "width": 333.4010807697766,
        "height": 370.512611879577,
        "content": "## Chapters text"
      },
      "typeVersion": 1
    },
    {
      "id": "ce36a500-136b-4082-988c-5f9b6dd6d971",
      "name": "Sticky Note21",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2272,
        240
      ],
      "parameters": {
        "color": 4,
        "width": 420.4253447940705,
        "height": 514.2177254645992,
        "content": "## Content preparation"
      },
      "typeVersion": 1
    },
    {
      "id": "9da83dc4-9e99-42a4-88a1-27ef87df6d09",
      "name": "Sticky Note22",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2288,
        320
      ],
      "parameters": {
        "color": 7,
        "width": 368.1523541074699,
        "height": 80,
        "content": "Merges the content and prepare it before sending it to WordPress"
      },
      "typeVersion": 1
    },
    {
      "id": "8591f4cb-edc4-4582-96b4-bcb2214a27a7",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        432,
        448
      ],
      "webhookId": "080f8376-cc82-49cc-8dd0-6db36bb887ab",
      "parameters": {
        "options": {
          "path": "create-wordpress-post"
        },
        "formTitle": "Create a WordPress post with AI",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Keywords (comma-separated)",
              "requiredField": true
            },
            {
              "fieldType": "dropdown",
              "fieldLabel": "Number of chapters",
              "fieldOptions": {
                "values": [
                  {
                    "option": "1"
                  },
                  {
                    "option": "2"
                  },
                  {
                    "option": "3"
                  },
                  {
                    "option": "4"
                  },
                  {
                    "option": "5"
                  },
                  {
                    "option": "6"
                  },
                  {
                    "option": "7"
                  },
                  {
                    "option": "8"
                  },
                  {
                    "option": "9"
                  },
                  {
                    "option": "10"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldType": "number",
              "fieldLabel": "Max words count",
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "formDescription": "Fill this form with the required information to create a draft post on WordPress"
      },
      "typeVersion": 2.2
    },
    {
      "id": "59619ea3-ac29-4188-9050-a6711c3f0921",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1712,
        448
      ],
      "parameters": {
        "options": {},
        "fieldToSplitOut": "chapters"
      },
      "typeVersion": 1
    },
    {
      "id": "85007abe-b4b1-4263-a7e6-62f0a2ebd7c3",
      "name": "Settings",
      "type": "n8n-nodes-base.set",
      "position": [
        720,
        448
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "c07386d7-9f51-4052-a62d-500e9aff9336",
              "name": "wordpress_url",
              "type": "string",
              "value": "https://you-wordpress-url-here.com/"
            },
            {
              "id": "2bbdd88a-3d66-4407-9b77-32af63f44e11",
              "name": "keywords",
              "type": "string",
              "value": "={{ $json['Keywords (comma-separated)'] }}"
            },
            {
              "id": "4a199e44-1033-446a-a019-e2e1a694009e",
              "name": "chapters",
              "type": "string",
              "value": "={{ $json['Number of chapters'] }}"
            },
            {
              "id": "312d2e97-d1b6-46d9-b2ae-35f7234b5404",
              "name": "words",
              "type": "string",
              "value": "={{ $json['Max words count'] }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "57f5811a-e82e-4dd3-8d53-0559b2716dac",
      "name": "Wikipedia",
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "position": [
        1104,
        704
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "1987ab2c-4b6e-451d-a831-0817004be72b",
      "name": "Check data consistency",
      "type": "n8n-nodes-base.if",
      "position": [
        1408,
        448
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "9523cb70-8467-4e65-9ecf-65cb91c29cb7",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.title }}",
              "rightValue": ""
            },
            {
              "id": "d754869d-10fe-4348-807f-2e1bc82a7b41",
              "operator": {
                "type": "array",
                "operation": "lengthGt",
                "rightType": "number"
              },
              "leftValue": "={{ $json.chapters }}",
              "rightValue": 0
            },
            {
              "id": "79a60fc1-66f8-4cfc-a61b-de528dfb7978",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.subtitle }}",
              "rightValue": ""
            },
            {
              "id": "c0c44d88-1c3d-44ba-9030-6e8fa9f2860f",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.introduction }}",
              "rightValue": ""
            },
            {
              "id": "338cd7e0-d2b8-40f4-838d-3aaf618268d2",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.conclusions }}",
              "rightValue": ""
            },
            {
              "id": "76eb9ba1-7675-403c-9287-ac1319791ffe",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.imagePrompt }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "6b22ae14-80c9-48ac-9a03-9266bc3a9aa4",
      "name": "Form",
      "type": "n8n-nodes-base.form",
      "position": [
        1712,
        704
      ],
      "webhookId": "691e1010-7083-46be-9e6e-4e77fb853a9a",
      "parameters": {
        "operation": "completion",
        "respondWith": "showText",
        "responseText": "There was a problem creating the article, please refresh the form and try again!"
      },
      "typeVersion": 1
    },
    {
      "id": "5a22467a-6835-4a62-951f-e8cd43bef3af",
      "name": "Merge chapters title and text",
      "type": "n8n-nodes-base.merge",
      "position": [
        2352,
        528
      ],
      "parameters": {
        "mode": "combine",
        "options": {},
        "combineBy": "combineByPosition"
      },
      "typeVersion": 3
    },
    {
      "id": "f4609858-7f65-4f2d-b222-f03ee207f166",
      "name": "Final article text",
      "type": "n8n-nodes-base.code",
      "position": [
        2560,
        448
      ],
      "parameters": {
        "jsCode": "let article = \"\";\n\n// Introduction\narticle += $('Code in JavaScript').first().json.introduction;\narticle += \"<br><br>\";\n\nfor (const item of $input.all()) {\n  article += \"<strong>\" + item.json.title + \"</strong>\";\n  article += \"<br><br>\";\n  article += $input.first().json.output;\n  article += \"<br><br>\";\n}\n\n// Conclusions\narticle += \"<strong>Conclusions</strong>\";\narticle += \"<br><br>\";\narticle += $('Code in JavaScript').first().json.conclusions;\n\n\nreturn [\n  {\n    \"article\": article\n  }\n];"
      },
      "typeVersion": 2
    },
    {
      "id": "e21a5519-315b-442e-97d0-8ee745138652",
      "name": "Post on Wordpress",
      "type": "n8n-nodes-base.wordpress",
      "position": [
        2832,
        448
      ],
      "parameters": {
        "title": "={{ $('AI Agent').first().json.output.parseJson().title }}",
        "additionalFields": {
          "status": "draft",
          "content": "={{ $json.article }}"
        }
      },
      "credentials": {
        "wordpressApi": {
          "id": "PjnFiFJGOSIfJJE7",
          "name": "Wordpress account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "e2cd720b-03e6-4cee-8901-a6a06e4bd1ec",
      "name": "Set image ID for the post",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3760,
        448
      ],
      "parameters": {
        "url": "=https://deepgames.com.br/wp-json/wp/v2/posts/{{ $('Post on Wordpress').first().json.id }}",
        "method": "POST",
        "options": {},
        "sendQuery": true,
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "queryParameters": {
          "parameters": [
            {
              "name": "featured_media",
              "value": "={{ $json.id }}"
            }
          ]
        }
      },
      "credentials": {
        "httpBasicAuth": {
          "id": "hEiqVW59EADD5LDS",
          "name": "aplication key n8n"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "daddda39-db6a-4266-b823-8ae9080ca1a8",
      "name": "Form1",
      "type": "n8n-nodes-base.form",
      "position": [
        3984,
        448
      ],
      "webhookId": "a9bf2986-4c9d-4d89-b5bf-ef6e93130b60",
      "parameters": {
        "options": {},
        "operation": "completion",
        "completionTitle": "Created Successfully!",
        "completionMessage": "=The article {{ $json.title.rendered }} was correctly created as a draft on WordPress!"
      },
      "typeVersion": 1
    },
    {
      "id": "d32dd9f7-acbf-484e-9551-1463bbb9a9e9",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        960,
        448
      ],
      "parameters": {
        "text": "=Write (all in pt-BR) the title, the subtitle, the chapters details, the introduction, the conclusions, and an image prompt for a SEO-friendly article about these topics:\n{{ $json.keywords }}.\n\nInstructions:\n- Place the article title in a JSON field called `title`\n- Place the subtitle in a JSON field called `subtitle`\n- Place the introduction in a JSON field called `introduction`\n- In the introduction introduce the topic that is then explored in depth in the rest of the text\n- The introduction should be around 60 words\n- Place the conclusions in a JSON field called `conclusions`\n- The conclusions should be around 60 words\n- Use the conclusions to sum all said in the article and offer a conclusion to the reader\n- The image prompt will be used to produce a photographic cover image for the article and should depict the topics discussed in the article\n- Place the image prompt in a JSON field called `imagePrompt`\n- There should be {{ $json.chapters.toString() }} chapters.\n- For each chapter provide a title and an exaustive prompt that will be used to write the chapter text.\n- Place the chapters in an array field called `chapters`\n- For each chapter provide the fields `title` and `prompt`\n- The chapters should follow a logical flow and not repeat the same concepts.\n- The chapters should be one related to the other and not isolated blocks of text. The text should be fluent and folow a linear logic.\n- Don't start the chapters with \"Chapter 1\", \"Chapter 2\", \"Chapter 3\"... just write the title of the chapter\n- For the title and the capthers' titles don't use colons (`:`)\n- For the text, use HTML for formatting, but limited to bold, italic and lists.\n- Don't use markdown for formatting.\n- Always search on Wikipedia for useful information or verify the accuracy of what you write.\n- Never mention it if you don't find information on Wikipedia or the web\n- Go deep in the topic you treat, don't just throw some superficial info\n\nOutput Content as JSON (important)",
        "options": {},
        "promptType": "define"
      },
      "typeVersion": 3.1
    },
    {
      "id": "f7b05ff7-196f-45de-a4aa-c0827cf96d26",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        960,
        704
      ],
      "parameters": {
        "options": {}
      },
      "credentials": {
        "openRouterApi": {
          "id": "imEunNne8aruXua5",
          "name": "OpenRouter account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "b95b4033-0dce-47a5-b75e-8a64aa36a516",
      "name": "Code in JavaScript",
      "type": "n8n-nodes-base.code",
      "position": [
        1248,
        448
      ],
      "parameters": {
        "jsCode": "const content = $input.first().json.output;\nif (!content) throw new Error('OpenRouter não retornou choices[0].message.content');\n\nconst txt = String(content).trim();\n\n// remove code fences se vier\nconst s = txt.replace(/```json|```/g, '').trim();\n\nfunction extractFirstJsonObject(str) {\n  const start = str.indexOf('{');\n  if (start === -1) return null;\n\n  let depth = 0;\n  let inString = false;\n  let escape = false;\n\n  for (let i = start; i < str.length; i++) {\n    const ch = str[i];\n\n    if (inString) {\n      if (escape) {\n        escape = false;\n      } else if (ch === '\\\\') {\n        escape = true;\n      } else if (ch === '\"') {\n        inString = false;\n      }\n      continue;\n    } else {\n      if (ch === '\"') {\n        inString = true;\n        continue;\n      }\n      if (ch === '{') depth++;\n      if (ch === '}') depth--;\n\n      if (depth === 0) {\n        // aqui termina o primeiro objeto JSON completo\n        return str.slice(start, i + 1);\n      }\n    }\n  }\n  return null;\n}\n\nconst jsonStr = extractFirstJsonObject(s);\n\nif (!jsonStr) {\n  throw new Error('Resposta não contém um objeto JSON completo. Conteúdo: ' + s.slice(0, 400));\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonStr);\n} catch (e) {\n  throw new Error('JSON inválido após extração. Erro: ' + e.message + ' | Trecho: ' + jsonStr.slice(0, 400));\n}\n\nreturn [{ json: parsed }];\n"
      },
      "typeVersion": 2
    },
    {
      "id": "50e2ab9a-4bf0-4c0e-a513-56099b21680d",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1968,
        400
      ],
      "parameters": {
        "text": "=Write a chapter for the article: {{ $('Code in JavaScript').item.json.title }}, {{ $('Code in JavaScript').item.json.subtitle }}, that talks about {{ $('Settings').item.json[\"keywords\"] }}\n\nThis is the prompt for the chapter titled {{ $json.title }}: {{ $json.prompt }}.\n\nGuidelines:\n- Just return the plain text for each chapter (no JSON structure).\n- Don't use markdown for formatting.\n- Use HTML for formatting, but limited to bold, italic and lists.\n- Don't add internal titles or headings.\n- The length of each chapther should be around {{ Math.round(($('Settings').item.json.words - 120)/ $('Settings').item.json.chapters) }} words long\n- Go deep in the topic you treat, don't just throw some superficial info\n{{ $itemIndex > 0 ? \"- The previous chapter talks about \" + $input.all()[$itemIndex-1].json.title : \"\" }}\n{{ $itemIndex > 0 ? \"- The promt for the previous chapter is \" + $input.all()[$itemIndex-1].json.prompt : \"\" }}\n{{ $itemIndex < $input.all().length ? \"- The following chapter will talk about \" + $input.all()[$itemIndex+1].json.title: \"\" }}\n{{ $itemIndex < $input.all().length ? \"- The prompt for the following chapter is \" + $input.all()[$itemIndex+1].json.prompt : \"\" }}\n- Consider the previous and following chapters what writing the text for this chapter. The text must be coherent with the previous and following chapters.\n- This chapter should not repeat the concepts already exposed in the previous chapter.\n- This chapter is a part of a larger article so don't include an introduction or conclusions. This chapter should merge with the rest of the article.\nMake all in pt-BR (important)",
        "options": {},
        "promptType": "define"
      },
      "typeVersion": 3.1
    },
    {
      "id": "2292b166-2495-442b-bcb7-8f4d9f1a298f",
      "name": "OpenRouter Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "position": [
        1968,
        656
      ],
      "parameters": {
        "options": {}
      },
      "credentials": {
        "openRouterApi": {
          "id": "imEunNne8aruXua5",
          "name": "OpenRouter account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "50f2af4d-bc78-423d-a229-0dce803b8526",
      "name": "HTTP - OpenRouter Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3072,
        448
      ],
      "parameters": {
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "google/gemini-2.5-flash-image"
            },
            {
              "name": "modalities",
              "value": "={{[\"image\",\"text\"]}}"
            },
            {
              "name": "prompt",
              "value": "=Generate a photographic image to be used as the cover image for the article titled: {{ $('Code in JavaScript').first().json.title }}. This is the prompt for the image: {{ $('Code in JavaScript').first().json.imagePrompt }}, photography, realistic, sigma 85mm f/1.4\n\nResolution 1280x720 HD"
            },
            {
              "name": "stream",
              "value": "false"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://deepgames.com.br"
            },
            {
              "name": "X-Title",
              "value": "DeepGames n8n"
            }
          ]
        }
      },
      "typeVersion": 4.3
    },
    {
      "id": "59e84324-092a-4448-838b-aebee35684b2",
      "name": "Code - Extract Image DataUrl",
      "type": "n8n-nodes-base.code",
      "position": [
        3248,
        448
      ],
      "parameters": {
        "jsCode": "const dataUrl = $json?.choices?.[0]?.images?.[0]?.image_url?.url;\n\nif (!dataUrl) {\n  throw new Error(\"Não achei choices[0].images[0].image_url.url\");\n}\n\nif (!String(dataUrl).startsWith(\"data:image/\")) {\n  throw new Error(\"Não parece data URL: \" + String(dataUrl).slice(0, 60));\n}\n\nreturn [{ json: { dataUrl } }];\n"
      },
      "typeVersion": 2
    },
    {
      "id": "59af72c5-6031-45b7-84c5-c5ed19877b51",
      "name": "Code - DataUrl to Binary",
      "type": "n8n-nodes-base.code",
      "position": [
        3424,
        448
      ],
      "parameters": {
        "jsCode": "const dataUrl = $json.dataUrl;\n\nconst match = dataUrl.match(/^data:(image\\/[a-zA-Z0-9.+-]+);base64,(.+)$/);\nif (!match) throw new Error(\"Data URL inválida.\");\n\nconst mimeType = match[1];\nconst base64 = match[2];\n\nconst ext = mimeType.includes(\"png\") ? \"png\" : (mimeType.includes(\"jpeg\") ? \"jpg\" : \"img\");\n\nreturn [{\n  json: { mimeType },\n  binary: {\n    data: {\n      data: base64,\n      mimeType,\n      fileName: `featured-${Date.now()}.${ext}`\n    }\n  }\n}];\n"
      },
      "typeVersion": 2
    },
    {
      "id": "85390ac9-987c-4d61-a4ab-b7c65bbb3507",
      "name": "HTTP - WP Upload Media",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3584,
        448
      ],
      "parameters": {
        "url": "https://deepgames.com.br/wp-json/wp/v2/media",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "contentType": "multipart-form-data",
        "authentication": "genericCredentialType",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "data"
            },
            {
              "name": "title",
              "value": "={{ $('Code in JavaScript').first().json.title }}"
            }
          ]
        },
        "genericAuthType": "httpBasicAuth"
      },
      "credentials": {
        "httpBasicAuth": {
          "id": "hEiqVW59EADD5LDS",
          "name": "aplication key n8n"
        }
      },
      "typeVersion": 4.3
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "availableInMCP": false,
    "executionOrder": "v1"
  },
  "versionId": "4917b8fb-a13f-4d06-876c-e4ac1e76b615",
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Settings": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Merge chapters title and text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Merge chapters title and text",
            "type": "main",
            "index": 1
          },
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Post on Wordpress": {
      "main": [
        [
          {
            "node": "HTTP - OpenRouter Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Check data consistency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final article text": {
      "main": [
        [
          {
            "node": "Post on Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Check data consistency": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - WP Upload Media": {
      "main": [
        [
          {
            "node": "Set image ID for the post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - OpenRouter Image": {
      "main": [
        [
          {
            "node": "Code - Extract Image DataUrl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - DataUrl to Binary": {
      "main": [
        [
          {
            "node": "HTTP - WP Upload Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set image ID for the post": {
      "main": [
        [
          {
            "node": "Form1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Extract Image DataUrl": {
      "main": [
        [
          {
            "node": "Code - DataUrl to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge chapters title and text": {
      "main": [
        [
          {
            "node": "Final article text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}